body {
  background-color: black;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  text-align: center;
}

#heading
h1 {
  color: white;
}

/* Style the paragraph */
p {
  color: white;
  font-size: 18px;
}